{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row">

        <div class="large-12 columns">

            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs" style="margin-bottom: 2%;">
                <li {% if cursor == 'home' %} class="active" {% endif %} role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
                <li {% if cursor == 'profil' %} class="current" {% endif %} role="menuitem"><a href="#">Profil Pegawai</a></li>
            </nav>

            <table id="table-id" class="display" style="table-layout: fixed">
                <caption>Profil Pegawai</caption>
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 30%;">Nama</th>
                        <th colspan="2">Kepangkatan Terakhir</th>
                        <th colspan="2">Jabatan Terakhir</th>
                        <th rowspan="2" style="width: 10%;">Nilai KUM Diperoleh</th>
                        <th rowspan="2" style="width: 20%;">Status</th>
                    </tr>
                    <tr>
                        <th style="width: 10%;">Gol</th>
                        <th style="width: 10%;">TMT</th>
                        <th style="width: 10%;">Jab</th>
                        <th style="width: 10%">TMT</th>
                    </tr>
                </thead>
                <tbody>
                {% for y in "x"|rjust:"10" %}
                    <tr>
                        <td><a href="{% url 'adminsdm:profildetail' %}">Lia Sadita</a></td>
                        <td>III C</td>
                        <td>kjscnlskdc</td>
                        <td>cjsdncl</td>
                        <td>kjscnlskdc</td>
                        <td>cjsdncl</td>
                        <td>kjscnlskdc</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    {% include "scriptRef.html" %}

    <script>
        $(document).foundation();
        $(document).ready( function() {
            $('#table-id').DataTable();
        });
    </script>

{% endblock %}