{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">

    <div class="large-12 columns">

        <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs" style="margin-bottom: 2%;">
            <li {% if cursor == 'home' %} class="active" {% endif %} role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
            <li {% if cursor == 'profil' %} class="active" {% endif %} role="menuitem"><a href="{% url 'adminsdm:profilpegawai' %}">Profil Pegawai</a></li>
            <li {% if cursor == 'profil' %} class="current" {% endif %} role="menuitem"><a href="#">Profil Detail</a></li>
        </nav>

        <ul class="tabs" data-tab role="tablist">
          <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1" style="border-right: 1px solid black; font-size: small;">Data Diri</a></li>
          <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2" style="border-right: 1px solid black; font-size: small;">Ringkasan KUM</a></li>
          <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3" style="font-size: small;">Detail KUM</a></li>
        </ul>
        <div class="tabs-content" style="text-align: center;">
          <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
            <h5><b>Data Diri</b></h5>
            <p><b>Lia Sadita, S.Kom., M.Eng.</b></p>
            <fieldset>
                <table style="width: 80%; float: left;">
                    <tr>
                        <td>NIP</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>No Serdos</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>NIDN</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>Gelar Depan</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>Nama SK Awal</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>Gelar Belakang</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>Golongan</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>Jabatan</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                    <tr>
                        <td>TMT Mulai di UI</td>
                        <td>:</td>
                        <td><input type="text" value="________________________________________"></td>
                    </tr>
                </table>
                <img src="{% static 'image/pas-photo-3x4.jpg' %}" style="float: right">
            </fieldset>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
            <h5><b>Ringkasan KUM</b></h5>
            <p><b>Lia Sadita, S.Kom., M.Eng.</b></p>
            <fieldset style="width: 80%; margin-left: 10%">
                <table style="width: 70%; float: left;">
                    <tr>
                        <td>Nama Dosen</td>
                        <td>:</td>
                        <td><input type="text" value="_______________"></td>
                    </tr>
                    <tr>
                        <td>NIP Dosen</td>
                        <td>:</td>
                        <td><input type="text" value="_______________"></td>
                    </tr>
                    <tr>
                        <td>Fakultas/Jurusan</td>
                        <td>:</td>
                        <td><input type="text" value="_______________"></td>
                    </tr>
                    <tr>
                        <td>Pangkat Golongan</td>
                        <td>:</td>
                        <td><input type="text" value="_______________"></td>
                    </tr>
                    <tr>
                        <td>Jabatan</td>
                        <td>:</td>
                        <td><input type="text" value="_______________"></td>
                    </tr>
                    <tr>
                        <td>Golongan/Jabatan yang ingin dituju</td>
                        <td>:</td>
                        <td><input type="text" value="_______________"></td>
                    </tr>
                </table>
                <img src="{% static 'image/pas-photo-3x4.jpg' %}" style="float: right;">
            </fieldset>
            <table id="ringkasan-kum" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Unsur</th>
                        <th>Nilai yang Harus Dicapai</th>
                        <th>Nilai Saat Ini</th>
                        <th>Kekurangan Nilai</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Pendidikan</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Pengajaran</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Penelitian</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Pengabdian kepada Masyarakat</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Penunjang</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
            <h5><b>Ringkasan KUM</b></h5>
            <p><b>Lia Sadita, S.Kom., M.Eng.</b></p>
            <ul class="tabs" data-tab role="tablist">
              <li class="tab-title active" role="presentation"><a href="#panel2-dik" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-dik" style="border-right: 1px solid black; font-size: small;">Pendidikan</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-jar" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-jar" style="border-right: 1px solid black; font-size: small;">Pengajaran</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-lit" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-lit" style="border-right: 1px solid black; font-size: small;">Penelitian</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-masy" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-masy" style="border-right: 1px solid black; font-size: small;">Peng. Masyarakat</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-jang" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-jang" style="font-size: small;">Penunjang</a></li>
            </ul>
            <div class="tabs-content">
              <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-dik">
                <fieldset>
                    <p>1. Mengikuti pendidikan sekolah dan memperoleh gelar/sebutan/ijazah/akta</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan/Judul</th>
                                <th>Tempat/Instansi</th>
                                <th>Tanggal</th>
                                <th>Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                    <p>2. Mengikuti pendidikan sekolah dan memperoleh gelar/sebutan/ijazah/akta tambahan yang setingkat atau lebih tinggi</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan/Judul</th>
                                <th>Tempat/Instansi</th>
                                <th>Tanggal</th>
                                <th>Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                </fieldset>
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-jar">
                <fieldset>
                    <p>1. Melaksanakan perkuliahan/tutorial dan membimbing menguji</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan/Judul</th>
                                <th>Tempat/Instansi</th>
                                <th>Semester</th>
                                <th>Tahun Akademik</th>
                                <th>Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>SKS</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                    <p>2. Membimbing seminar mahasiswa</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan/Judul</th>
                                <th>Tempat/Instansi</th>
                                <th>Semester</th>
                                <th>Tahun Akademik</th>
                                <th>Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>SKS</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                </fieldset>
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-lit">
                <fieldset>
                    <p>1. Menghasilkan karya ilmiah</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan/Judul</th>
                                <th>Tahun</th>
                                <th>Sifat Penelitian</th>
                                <th>Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                                <th>Status Peer Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                    <p>2. Menerjemahkan/menyadur buku ilmiah</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan/Judul</th>
                                <th>Tahun</th>
                                <th>Sifat Penelitian</th>
                                <th>Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                                <th>Status Peer Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                </fieldset>
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-masy">
                <fieldset>
                    <p>1. Menduduki jabatan pimpinan pada lembaga pemerintahan</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan</th>
                                <th>Bentuk</th>
                                <th>Tempat/Instansi</th>
                                <th>Tanggal</th>
                                <th>Jumlah Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                    <p>2. Melaksanakan pengembangan hasil pendidikan dan penelitian</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan</th>
                                <th>Bentuk</th>
                                <th>Tempat/Instansi</th>
                                <th>Tanggal</th>
                                <th>Jumlah Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                </fieldset>
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-jang">
                <fieldset>
                    <p>1. Menjadi Anggota dalam suatu panitia/badan Perguruan Tinggi</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan</th>
                                <th>Bentuk</th>
                                <th>Tempat/Instansi</th>
                                <th>Tanggal</th>
                                <th>Jumlah Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                    <p>2. Menjadi anggota dalam suatu panitia/badan pada lembaga pemerintah</p>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kegiatan</th>
                                <th>Bentuk</th>
                                <th>Tempat/Instansi</th>
                                <th>Tanggal</th>
                                <th>Jumlah Angka Kredit</th>
                                <th>Keterangan</th>
                                <th>Bukti Fisik</th>
                                <th>Fak</th>
                                <th>UI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1.</td></tr>
                            <tr><td>2.</td></tr>
                            <tr><td>3.</td></tr>
                        </tbody>
                    </table>
                </fieldset>
              </section>
            </div>
          </section>
        </div>

    </div>

</div>

{% include "scriptRef.html" %}

<script>
    $(document).foundation();
    $(document).ready(function () {
        $('#table-id').DataTable();
    });
</script>

{% endblock %}