{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">

    <div class="large-12 columns">

        <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs" style="margin-bottom: 2%;">
            <li {% if cursor == 'home' %} class="active" {% endif %} role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
            <li {% if cursor == 'angk' %} class="current" {% endif %} role="menuitem"><a href="#">Angka Kredit</a></li>
        </nav>

        <ul class="tabs" data-tab role="tablist">
          <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1" style="border-right: 1px solid black; font-size: small;">Ringkasan KUM</a></li>
          <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2" style="border-right: 1px solid black; font-size: small;">Dosen Eligible</a></li>
          <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3" style="font-size: small;">Dalam Pengusulan</a></li>
        </ul>
        <div class="tabs-content" style="text-align: center;">
          <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
            <h5>Ringkasan KUM Dosen</h5>
            <table id="table-id" class="table-data display" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 7%">Nama</th>
                        <th colspan="2">Kepangkatan Terakhir</th>
                        <th colspan="2">Jabatan Terakhir</th>
                        <th rowspan="2" style="width: 7%">Nilai KUM kenaikan Jabatan akademik terakhir</th>
                        <th rowspan="2" style="width: 7%">Jabatan/Pangkat yang akan dituju</th>
                        <th rowspan="2" style="width: 7%">Nilai yang harus dicapai</th>
                        <th rowspan="2" style="width: 7%">Nilai Kredit Saat Ini</th>
                        <th rowspan="2" style="width: 7%">Kekurangan Nilai</th>
                        <th rowspan="2" style="width: 7%">Status</th>
                        <th rowspan="2" style="width: 7%">Remarks</th>
                        <th rowspan="2" style="width: 7%">Email Reminder</th>
                    </tr>
                    <tr>
                        <th style="width: 7%">Gol</th>
                        <th style="width: 7%">TMT</th>
                        <th style="width: 7%">Jab</th>
                        <th style="width: 7%">TMT</th>
                    </tr>
                </thead>
                <tbody>
                {% for y in "x"|rjust:"5" %}
                    <tr>
                        <td><a href="#">Lia Sadita</a></td>
                        <td>III C</td>
                        <td>1 Okt 1998</td>
                        <td>Lektor</td>
                        <td>1 Jan 2001</td>
                        <td>204.85</td>
                        <td>LK</td>
                        <td>400</td>
                        <td>200</td>
                        <td>200</td>
                        <td>Diajukan</td>
                        <td>Menunggu Persetujuan</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
            <h5>Dosen yang Eligible untuk Promosi</h5>
            <table id="table-id" class="table-data display" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 30%">Nama</th>
                        <th colspan="2">Kepangkatan Terakhir</th>
                        <th colspan="2">Jabatan Terakhir</th>
                        <th rowspan="2" style="width: 10%">Nilai KUM kenaikan Jabatan akademik terakhir</th>
                        <th rowspan="2" style="width: 10%">Jabatan/Pangkat yang akan dituju</th>
                        <th rowspan="2" style="width: 10%">Nilai yang harus dicapai</th>
                        <th rowspan="2" style="width: 10%">Nilai Kredit Saat Ini</th>
                        <th rowspan="2" style="width: 10%">Kekurangan Nilai</th>
                    </tr>
                    <tr>
                        <th style="width: 5%">Gol</th>
                        <th style="width: 5%">TMT</th>
                        <th style="width: 5%">Jab</th>
                        <th style="width: 5%">TMT</th>
                    </tr>
                </thead>
                <tbody>
                {% for y in "x"|rjust:"5" %}
                    <tr>
                        <td><a href="#">Lia Sadita</a></td>
                        <td>III C</td>
                        <td>1 Okt 1998</td>
                        <td>Lektor</td>
                        <td>1 Jan 2001</td>
                        <td>204.85</td>
                        <td>LK</td>
                        <td>400</td>
                        <td>400</td>
                        <td>0</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
            <h5>Dosen dalam Proses Kenaikan Pangkat/Jabatan</h5>
            <table id="table-id" class="table-data display" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 30%">Nama</th>
                        <th colspan="2">Kepangkatan Terakhir</th>
                        <th colspan="2">Jabatan Terakhir</th>
                        <th rowspan="2" style="width: 10%">Nilai KUM kenaikan Jabatan akademik terakhir</th>
                        <th rowspan="2" style="width: 10%">Jabatan/Pangkat yang akan dituju</th>
                        <th rowspan="2" style="width: 15%">Status</th>
                        <th rowspan="2" style="width: 15%">Remarks</th>
                    </tr>
                    <tr>
                        <th style="width: 5%">Gol</th>
                        <th style="width: 5%">TMT</th>
                        <th style="width: 5%">Jab</th>
                        <th style="width: 5%">TMT</th>
                    </tr>
                </thead>
                <tbody>
                {% for y in "x"|rjust:"5" %}
                    <tr>
                        <td><a href="#">Lia Sadita</a></td>
                        <td>III C</td>
                        <td>1 Okt 1998</td>
                        <td>Lektor</td>
                        <td>1 Jan 2001</td>
                        <td>204.85</td>
                        <td>LK</td>
                        <td>Diajukan</td>
                        <td>Menunggu Persetujuan</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </section>
        </div>

    </div>

</div>

{% include "scriptRef.html" %}

<script>
    $(document).foundation();
    $(document).ready(function () {
        $('.table-data').DataTable();
    });
</script>

{% endblock %}