 {% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row">

        <div class="large-12 columns">

        <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs" style="margin-bottom: 2%;">
            <li {% if cursor == 'home' %} class="current" {% endif %} role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
        </nav>

            <div id="container"></div>

        </div>

    </div>

    {% include "scriptRef.html" %}

    <script>
        var count_skripsi = {{ count_skripsi|safe }};
        var count_ka = {{ count_ka|safe }};
        var count_proptesis = {{ count_proptesis|safe }};
        var count_usulpltn = {{ count_usulpltn|safe }};
        var count_pltns3 = {{ count_pltns3|safe }};
        var count_prapromosi = {{ count_prapromosi|safe }};
        var count_calons3 = {{ count_calons3|safe }};
        var count_promosi = {{ count_promosi|safe }};
        var count_tesis = {{ count_tesis|safe }};
        var count_lain = {{ count_lain|safe }};

        $(document).foundation();
        $(document).ready( function() {
            $('#table-id').DataTable();
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Data Persebaran Jenis Sidang di Fasilkom UI Periode 2, 2014 / 2015'
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: "Brands",
                    colorByPoint: true,
                    data: [{
                        name: "Skripsi",
                        y: count_skripsi,
                        drilldown: "Skripsi"
                    }, {
                        name: "Karya Akhir",
                        y: count_ka,
                        sliced: true,
                        selected: true,
                        drilldown: "Karya Akhir"
                    }, {
                        name: "Proposal Tesis",
                        y: count_proptesis,
                        drilldown: "Proposal Tesis"
                    }, {
                        name: "Usulan Penelitian",
                        y: count_usulpltn,
                        drilldown: "Usulan Penelitian"
                    }, {
                        name: "Seminar Hasil Penelitian S3",
                        y: count_pltns3,
                        drilldown: "Seminar Hasil Penelitian S3"
                    }, {
                        name: "Pra Promosi",
                        y: count_prapromosi,
                        drilldown: "Pra Promosi"
                    }, {
                        name: "Wawancara Calon S3",
                        y: count_calons3,
                        drilldown: "Wawancara Calon S3"
                    }, {
                        name: "Promosi",
                        y: count_promosi,
                        drilldown: "Promosi"
                    }, {
                        name: "Tesis",
                        y: count_tesis,
                        drilldown: "Tesis"
                    }]
                }],
                drilldown: {
                    series: [{
                        name: "Skripsi",
                        id: "Skripsi",
                        data: [
                            ["v11.0", 24.13],
                            ["v8.0", 17.2],
                            ["v9.0", 8.11],
                            ["v10.0", 5.33],
                            ["v6.0", 1.06],
                            ["v7.0", 0.5]
                        ]
                    }, {
                        name: "Karya Akhir",
                        id: "Karya Akhir",
                        data: [
                            ["v40.0", 5],
                            ["v41.0", 4.32],
                            ["v42.0", 3.68],
                            ["v39.0", 2.96],
                            ["v36.0", 2.53],
                            ["v43.0", 1.45],
                            ["v31.0", 1.24],
                            ["v35.0", 0.85],
                            ["v38.0", 0.6],
                            ["v32.0", 0.55],
                            ["v37.0", 0.38],
                            ["v33.0", 0.19],
                            ["v34.0", 0.14],
                            ["v30.0", 0.14]
                        ]
                    }, {
                        name: "Proposal Tesis",
                        id: "Proposal Tesis",
                        data: [
                            ["v35", 2.76],
                            ["v36", 2.32],
                            ["v37", 2.31],
                            ["v34", 1.27],
                            ["v38", 1.02],
                            ["v31", 0.33],
                            ["v33", 0.22],
                            ["v32", 0.15]
                        ]
                    }, {
                        name: "Usulan Penelitian",
                        id: "Usulan Penelitian",
                        data: [
                            ["v8.0", 2.56],
                            ["v7.1", 0.77],
                            ["v5.1", 0.42],
                            ["v5.0", 0.3],
                            ["v6.1", 0.29],
                            ["v7.0", 0.26],
                            ["v6.2", 0.17]
                        ]
                    }, {
                        name: "Seminar Hasil Penelitian S3",
                        id: "Seminar Hasil Penelitian S3",
                        data: [
                            ["v12.x", 0.34],
                            ["v28", 0.24],
                            ["v27", 0.17],
                            ["v29", 0.16]
                        ]
                    }, {
                        name: "Pra Promosi",
                        id: "Pra Promosi",
                        data: [
                            ["v11.0", 24.13],
                            ["v8.0", 17.2],
                            ["v9.0", 8.11],
                            ["v10.0", 5.33],
                            ["v6.0", 1.06],
                            ["v7.0", 0.5]
                        ]
                    }, {
                        name: "Wawancara Calon S3",
                        id: "Wawancara Calon S3",
                        data: [
                            ["v40.0", 5],
                            ["v41.0", 4.32],
                            ["v42.0", 3.68],
                            ["v39.0", 2.96],
                            ["v36.0", 2.53],
                            ["v43.0", 1.45],
                            ["v31.0", 1.24],
                            ["v35.0", 0.85],
                            ["v38.0", 0.6],
                            ["v32.0", 0.55],
                            ["v37.0", 0.38],
                            ["v33.0", 0.19],
                            ["v34.0", 0.14],
                            ["v30.0", 0.14]
                        ]
                    }, {
                        name: "Promosi",
                        id: "Promosi",
                        data: [
                            ["v35", 2.76],
                            ["v36", 2.32],
                            ["v37", 2.31],
                            ["v34", 1.27],
                            ["v38", 1.02],
                            ["v31", 0.33],
                            ["v33", 0.22],
                            ["v32", 0.15]
                        ]
                    }, {
                        name: "Tesis",
                        id: "Tesis",
                        data: [
                            ["v8.0", 2.56],
                            ["v7.1", 0.77],
                            ["v5.1", 0.42],
                            ["v5.0", 0.3],
                            ["v6.1", 0.29],
                            ["v7.0", 0.26],
                            ["v6.2", 0.17]
                        ]
                    }]
                }
            });
        });
    </script>

{% endblock %}