{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">

    <div class="large-12 columns">

        <p>Maaf anda tidak memiliki akses ke situs ini</p>
        <a class="button radius" href="/">Back to login page</a>
        <a class="button radius" href="/accounts/logout">Logout akun CAS anda</a>

    </div>

</div>

{% include "scriptRef.html" %}

<script>
    $(document).ready(function () {
        $('#table-id').DataTable();
    });
    $(document).foundation();
</script>

{% endblock %}