{% load static %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/dataTables.foundation.min.css' %}">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{% static 'js/vendor/jquery.js' %}"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/dataTables.foundation.min.js' %}"></script>

<!-- Highcharts -->
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/drilldown.js' %}"></script>

<!-- Foundation -->
<script src="{% static 'js/foundation.min.js' %}"></script>

<!-- jQueryUI -->
<script src="{% static 'js/jquery-ui.js' %}"></script>