 <div class="large-2 pull-10 columns">

     <ul class="side-nav" role="navigation" title="Link List">
         <li role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
         <li role="menuitem"><a href="{% url 'usermgmt:index' %}">User Management</a></li>
         <li role="menuitem"><a href="{% url 'adminsdm:profilpegawai' %}">Profil Pegawai</a></li>
         <li role="menuitem"><a href="{% url 'adminsdm:angkakredit' %}">Angka Kredit</a></li>
         <li role="menuitem"><a href="#">Peer Review</a></li>
         <li role="menuitem"><a href="{% url 'laporan:index' %}">Laporan</a></li>
         <li role="menuitem"><a href="{% url 'mainapp:logout' %}">Logout</a></li>
     </ul>

 </div>