{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">

    <div class="large-12 columns">

        {% if log %}
            <table id="table-id" class="display table-data" style="table-layout: fixed">
                <caption>Log Activity</caption>
                <thead>
                <tr>
                    <th style="width: 20%">Nama User</th>
                    <th style="width: 20%">Change Message</th>
                    <th style="width: 10%">Model</th>
                    <th style="width: 10%">Object ID</th>
                    <th style="width: 20%">Object Repr</th>
                    <th style="width: 20%">Waktu</th>
                </tr>
                </thead>
                <tfoot style="display:table-header-group;">
                <tr>
                    <th style="width: 30%">Nama User</th>
                    <th style="width: 10%">Change Message</th>
                    <th style="width: 10%">Model</th>
                    <th style="width: 10%">Object ID</th>
                    <th style="width: 20%">Object Repr</th>
                    <th style="width: 10%">Waktu</th>
                </tr>
                </tfoot>
                <tbody>
                {% for d in log %}
                    <tr id="{{ forloop.counter }}">
                        <td style="width: 30%">{{ d.user.username }}</td>
                        <td style="width: 10%">{{ d.change_message }}</td>
                        <td style="width: 10%">{{ d.content_type.model }}</td>
                        <td style="width: 10%">{{ d.object_id }}</td>
                        <td style="width: 20%">{{ d.object_repr }}</td>
                        <td style="width: 10%">{{ d.action_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

</div>

{% include "scriptRef.html" %}

<script>
    $(document).foundation();
    $(document).ready(function () {
        $('.table-data tfoot th').each( function () {
            var title = $('.table-data thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#table-id').DataTable({"bAutoWidth": false});

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                            .search( this.value )
                            .draw();
                }
            } );
        } );
    });
</script>

{% endblock %}