{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">

    <div class="large-12 columns">

        <h6><b>Master Data Status Lembur</b></h6>
        <a id="pop-create" data-reveal-id="pop-status" class="button round tiny"><i class="fi-page-add" style="font-size:12px;"></i> Create Status Lembur</a>

        <table id="md-status" class="display table-data" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width:5%;">ID</th>
                    <th>Status Lembur</th>
                </tr>
            </thead>
            <tfoot style="display: table-header-group">
                <tr>
                    <th>ID</th>
                    <th>Status Lembur</th>
                </tr>
            </tfoot>
            <tbody>
            {% if mdstatus %}
            {% for s in mdstatus %}
                <tr id="{{ s.id }}">
                    <td>#{{ s.id }}</td>
                    <td><a class="data-status" data-reveal-id="pop-status" data-id-status="{{ s.id }}">{{ s.status }}</a></td>
                </tr>
            {% endfor %}
            {% else %}
                <p>Data status lembur kosong</p>
            {% endif %}
            </tbody>
        </table>

    </div>

</div>

<div id="pop-status" class="reveal-modal medium" data-reveal>
    <form id="form-status" class="forml">
        <input name="idstatus" type="hidden">
        <input name="del" type="hidden">
        {% csrf_token %}
        <fieldset>
            <legend>Master Data Status Lembur</legend>
            <div id="edit-del-holder" style="float: right; display: inline;"></div>
            <div class="flash" style="float: right; display: inline;"></div>
            <table style="width: 100%;">
                <tr>
                    <td>
                        <label>Status Lembur</label>
                    </td>
                    <td>
                        <input name="status" type="text">
                    </td>
                </tr>
            </table>
            <input name="submit-ajukan" type="hidden">
            <button class="custom-close-modal button radius tiny" type="button" style="float: left;">Batal</button>
            <button class="button radius tiny ajukan" type="submit" data-pop="ajukan" style="float: right; margin-left: 2px;">Submit</button>
        </fieldset>
    </form>
    <a class="close-reveal-modal" style="font-size: large">&#215;</a>
</div>

<!--Pop Up Konfirmasi-->
<div id="konfirmasi" class="reveal-modal small" data-reveal>
    <fieldset>
    <p>
        <h5 id="pesan-konfirmasi">Apakah anda yakin untuk membuat status lembur baru?</h5>
    </p>
    <button class="custom-close-konfirmasi-modal button round tiny">Tidak</button>
    <button class="custom-yes-konfirmasi-modal button round tiny">Ya</button>
    </fieldset>
    <a class="close-reveal-modal" style="font-size: large">&#215;</a>
</div>

{% include "scriptRef.html" %}

<script>
    $(document).foundation({
        reveal: {
            multiple_opened: true
        }
    });
    $(document).ready(function () {
        $('.table-data tfoot th').each( function () {
            var title = $('.table-data thead th').eq( $(this).index() ).text();
            $(this).html( '<input style="height:30px; font-size:small;" type="text" placeholder="Search '+title+'" />' );
            if (title == "ID") {$(this).html( '' )}
        } );

        // DataTable
        var tablelembur = $('#md-status').DataTable({"bAutoWidth": false, "order": [[0, "desc"]]});

        // Apply the search
        tablelembur.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that.search( this.value ).draw();
                }
            } );
        } );
    });

    // initial state modal ajukan status
    $('#pop-status').data('initial-state', $('#pop-status').html());
    // initial state konfirmasi
    $('#konfirmasi').data('initial-state', $('#konfirmasi').html());

    // button pop create
    $(document).on('click', '#pop-create', function(){
        $('#pop-status').html($('#pop-status').data('initial-state'));
    });

    // button batal
    $(document).on("click", '.custom-close-modal', function(){
        $('.reveal-modal').foundation('reveal', 'close');
    });

    // button ajukan
    $(document).on('click', '.ajukan', function(){
        var targetForm = $(this).closest('form');
        $(targetForm).find('input[name=submit-ajukan]').val('submitajukan');
    });

    // prevent submit from enter
    $(document).on("keyup keypress", ".forml", function(e){
        var code = e.keyCode || e.which;
        if (code == 13){
            e.preventDefault();
            return false;
        }
    });

    // button tidak konfirmasi
    $(document).on('click', '.custom-close-konfirmasi-modal', function(){
        $('#konfirmasi').foundation('reveal', 'close');
    });

    // button ya konfirmasi
    $(document).on('click', '.custom-yes-konfirmasi-modal', function(){
        $('.reveal-modal').foundation('reveal', 'close');
        $('.reveal-modal-bg').css({display: 'none'});
        $('#form-status input[name=submit-ajukan]').val('');
        $('#form-status').submit();
    });

    // submit form status
    $(document).on("submit", "#form-status", function(e){
        e.preventDefault();
        if ($('#form-status input[name=submit-ajukan]').val() == 'submitajukan') {
            $('#konfirmasi').html($('#konfirmasi').data('initial-state'));
            $('#konfirmasi').foundation('reveal', 'open');
            return false;
        } else if ($('#form-status input[name=del]').val() == 'delete') {
            form = $('#form-status').serializeArray();
            $(".flash").show();
            $(".flash").fadeIn(400).html('<p>Data status sedang di delete ...</p>');
            $.ajax({
                type: "POST",
                url: "../../mddeletestatuslembur/",
                data: form,
                dataType: "json",
                success: function (response) {
                    $('#flash').hide();
                    alert("Data berhasil di delete");
                    $('.reveal-modal').foundation('reveal', 'close');
                    $('#pop-status').html($('#pop-status').data('initial-state'));
                    $('#md-status #'+response.status).remove();
                    //location.reload();
                },
                error: function () {
                    alert("Data tidak berhasil di delete, silahkan coba lagi");
                    //location.reload();
                }
            });
        } else if ($('#form-status input[name=idstatus]').val() != '') {
            form = $('#form-status').serializeArray();
            $(".flash").show();
            $(".flash").fadeIn(400).html('<p>Perubahan status lembur sedang diproses ...</p>');
            $.ajax({
                type: "POST",
                url: "../../mdeditstatuslembur/",
                data: form,
                dataType: "json",
                success: function (response) {
                    $('#flash').hide();
                    alert("Data berhasil disimpan");
                    $('.reveal-modal').foundation('reveal', 'close');
                    $('#pop-status').html($('#pop-status').data('initial-state'));
                    var status = '#'+response.status;
                    var statuslembur = "<a class='data-status' data-reveal-id='pop-status' data-id-status="+response.status+">"+response.statuslembur+"</a>";
                    var baris = $('#md-status #'+response.status);
                    $('#md-status').DataTable().row(baris).data([status, statuslembur]).draw();
                    //location.reload();
                },
                error: function () {
                    alert("Data tidak berhasil disimpan, silahkan coba lagi");
                    //location.reload();
                }
            });
        } else {
            form = $('#form-status').serializeArray();
            $(".flash").show();
            $(".flash").fadeIn(400).html('<p>Pembuatan status lembur sedang diproses ...</p>');
            $.ajax({
                type: "POST",
                url: "../../mdcreatestatuslembur/",
                data: form,
                dataType: "json",
                success: function (response) {
                    $('#flash').hide();
                    alert("Data berhasil disimpan");
                    $('.reveal-modal').foundation('reveal', 'close');
                    $('#pop-status').html($('#pop-status').data('initial-state'));
                    var status = '#'+response.status;
                    var statuslembur = "<a class='data-status' data-reveal-id='pop-status' data-id-status="+response.status+">"+response.statuslembur+"</a>";
                    var newrow = $('#md-status').DataTable().row.add([status, statuslembur]).draw().node();
                    $(newrow).prop('id', response.status);
                    //location.reload();
                },
                error: function () {
                    alert("Data tidak berhasil disimpan, silahkan coba lagi");
                    //location.reload();
                }
            });
        }
    });

    // open lihat status lembur
    $(document).on('click', 'tbody tr td .data-status', function(){
        var id = $(this).data('idStatus');
        var isieditdel = '<a id="edit-status"><i class="fi-pencil size-24"></i> Edit </a> &nbsp;&nbsp;&nbsp;' +
                '<a id="delete-status"><i class="fi-trash size-24"></i>  Delete </a>';
        $.ajax({
            type: 'POST',
            url: '../../mdviewstatuslembur/',
            data: {status: id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: 'json',
            success: function(response){
                $('#pop-status').html($('#pop-status').data('initial-state'));
                $('#pop-status input[name=idstatus]').val(response.status);
                $('#pop-status input[name=status]').val(response.statuslembur);
                $('#pop-status input[name=status]').prop('readonly', true);
                $('#pop-status #edit-del-holder').html(isieditdel);
            },
            error: function(){
                alert("Data tidak berhasil di buka silahkan coba lagi");
            }
        });
    });

    // tombol edit dan save
    $(document).on("click", "#edit-status", function(){
        $(this).closest("fieldset").find("table input[name=status]").prop("readonly", false);
        $(this).html('<i class="fi-save size-24"></i> Save ');
        $(this).attr("id", "save-status");
    });
    $(document).on("click", "#save-status", function(){
        $(this).closest("fieldset").find("table input[name=status]").prop("readonly", true);
        $(this).html('<i class="fi-pencil size-24"></i> Edit ');
        $(this).attr("id", "edit-status");
    });

    // tombol delete status
    $(document).on("click", "#delete-status", function(){
        $('#form-status input[name=del]').val('delete');
        $('#konfirmasi #pesan-konfirmasi').html('Apakah anda yakin ingin menghapus status ini?');
        $('#konfirmasi').foundation('reveal', 'open');
    });
</script>

<style>
    .dataTables_wrapper {
        font-size: small;
    }
    .dataTables_length label {
        font-size: small;
    }
    .dataTables_length select {
        height: 30px;
        font-size: smaller;
    }
    .dataTables_filter label {
        font-size: small;
    }
    .dataTables_filter input {
        height: 30px;
    }
    ul.pagination li, ul {
        font-size: small;
    }
    table thead tr th, table tbody tr td, p, table caption, form {
        font-size: small;
    }
    fieldset legend {
        font-size: medium;
    }
    fieldset {
        border: none;
    }
    .reveal-modal {
        padding: 0px;
    }
</style>

{% endblock %}