{% extends "base.html" %}
{% block content %}

    <div class="row">

        <div class="large-12 columns">

            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs" style="margin-bottom: 2%;">
                <li {% if cursor == 'home' %} class="active" {% endif %} role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
                <li {% if cursor == 'usrmgmt' %} class="current" {% endif %} role="menuitem"><a href="#">User Management</a></li>
            </nav>

            <ul class="tabs" data-tab role="tablist">
              <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1" style="border-right: 1px solid black; font-size: small;">User Management</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2" style="border-right: 1px solid black; font-size: small;">Permission</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3" style="border-right: 1px solid black; font-size: small;">Group Permission</a></li>
              <li class="tab-title" role="presentation"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4" style="font-size: small;">User Permission</a></li>
            </ul>
            <div class="tabs-content">
              <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                <a href="#" data-reveal-id="add-user" class="radius button">Add</a>
                {% if list_user %}
                <table id="table-id-user" class="table-data display" style="table-layout: fixed">
                    <caption>User Management</caption>
                    <thead>
                    <tr>
                        <th style="width: 25%">Username</th>
                        <th style="width: 25%">First Name</th>
                        <th style="width: 25%">Last Login</th>
                        <th style="width: 25%">Role</th>
                    </tr>
                    </thead>
                    <tfoot style="display: table-header-group">
                    <tr>
                        <th style="width: 25%">Username</th>
                        <th style="width: 25%">First Name</th>
                        <th style="width: 25%">Last Login</th>
                        <th style="width: 25%">Role</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for user in list_user %}
                        <tr id="{{ forloop.counter }}">
                            <td><a href="{% url 'usermgmt:viewUser' id=user.id %}">{{ user.username }}</a></td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{{ user.groups.all.0 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                <a href="#" data-reveal-id="add-perm" class="radius button">Add</a>
                {% if perm %}
                <table class="table-data display" style="table-layout: fixed">
                    <caption>Permission</caption>
                    <thead>
                    <tr>
                        <th style="width: 25%">Name</th>
                        <th style="width: 25%">Content App</th>
                        <th style="width: 25%">Content Model</th>
                        <th style="width: 25%">Codename</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in perm %}
                        <tr id="{{ forloop.counter }}">
                            <td><a href="{% url 'usermgmt:viewPermission' id=p.id %}">{{ p.name }}</a></td>
                            <td>{{ p.content_type.app_label }}</td>
                            <td>{{ p.content_type.model }}</td>
                            <td>{{ p.codename }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
                <a href="#" data-reveal-id="add-gperm" class="radius button">Add</a>
                {% if gperm %}
                <table class="table-data display" style="table-layout: fixed">
                    <caption>Group Permission</caption>
                    <thead>
                    <tr>
                        <th style="width: 30%">Group</th>
                        <th style="width: 70%">Permission</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gp in gperm %}
                        <tr id="{{ forloop.counter }}">
                            <td><a href="{% url 'usermgmt:viewGroupPerm' id=gp.id %}">{{ gp.group.name }}</a></td>
                            <td>{{ gp.permission.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
              </section>
              <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
                <a href="#" data-reveal-id="add-uperm" class="radius button">Add</a>
                {% if uperm %}
                <table class="table-data display" style="table-layout: fixed">
                    <caption>User Permission</caption>
                    <thead>
                    <tr>
                        <th style="width: 30%">User</th>
                        <th style="width: 70%">Permission</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for up in uperm %}
                        <tr id="{{ forloop.counter }}">
                            <td><a href="{% url 'usermgmt:viewUserPerm' id=up.id %}">{{ up.user.username }}</a></td>
                            <td>{{ up.permission.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>

        </div>

    </div>

    <div id="add-user" class="reveal-modal" data-reveal>
        <h3>Create User</h3>
        <form id="add-new-user" action="{% url 'usermgmt:createUser' %}" method="post">
            {% csrf_token %}
            <fieldset>
                {{ forms }}
            </fieldset>
            <a href="#" onclick="document.forms['add-new-user'].submit();" class="button radius">Submit</a>
            <a href="#" class="custom-close-modal button radius">Cancel</a>
            <input type="submit" value="Submit" style="visibility: hidden" />
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="add-perm" class="reveal-modal" data-reveal>
        <h3>Create Permission</h3>
        <form id="add-new-perm" action="{% url 'usermgmt:createPermission' %}" method="post">
            {% csrf_token %}
            <fieldset>
                {{ formperm }}
            </fieldset>
            <a href="#" onclick="document.forms['add-new-perm'].submit();" class="button radius">Submit</a>
            <a href="#" class="custom-close-modal button radius">Cancel</a>
            <input type="submit" value="Submit" style="visibility: hidden" />
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="add-gperm" class="reveal-modal" data-reveal>
        <h3>Create Group Permission</h3>
        <form id="add-new-gperm" action="{% url 'usermgmt:createGroupPerm' %}" method="post">
            {% csrf_token %}
            <fieldset>
                {{ formgperm }}
            </fieldset>
            <a href="#" onclick="document.forms['add-new-gperm'].submit();" class="button radius">Submit</a>
            <a href="#" class="custom-close-modal button radius">Cancel</a>
            <input type="submit" value="Submit" style="visibility: hidden" />
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="add-uperm" class="reveal-modal" data-reveal>
        <h3>Create User Permission</h3>
        <form id="add-new-uperm" action="{% url 'usermgmt:createUser' %}" method="post">
            {% csrf_token %}
            <fieldset>
                {{ formuperm }}
            </fieldset>
            <a href="#" onclick="document.forms['add-new-uperm'].submit();" class="button radius">Submit</a>
            <a href="#" class="custom-close-modal button radius">Cancel</a>
            <input type="submit" value="Submit" style="visibility: hidden" />
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    {% include "scriptRef.html" %}

    <script>
        $(document).foundation();
        $(document).ready( function() {
                $('#table-id-user tfoot th').each( function () {
                var title = $('#table-id-user thead th').eq( $(this).index() ).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );

            // DataTable
            var table = $('.table-data').DataTable({"bAutoWidth": false});

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                                .search( this.value )
                                .draw();
                    }
                } );
            } );
        });
        $('a.custom-close-modal').click(function(){
                $('.reveal-modal').foundation('reveal', 'close');
        });
    </script>

{% endblock %}