{% extends "base.html" %}
{% block content %}

    <div class="row">

        <div class="large-12 columns">

            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs" style="margin-bottom: 2%;">
                <li {% if cursor == 'home' %} class="active" {% endif %} role="menuitem"><a href="{% url 'adminsdm:index' %}">Home</a></li>
                <li {% if cursor == 'usrmgmt' %} class="active" {% endif %} role="menuitem"><a href="{% url 'usermgmt:index' %}">User Management</a></li>
                <li {% if cursor == 'usrmgmt' %} class="current" {% endif %} role="menuitem"><a href="#">User Detail</a></li>
            </nav>

            <h3>Profil {{ user.first_name }} {{ user.last_name }}</h3>

            <fieldset>
                <table>
                    <tr>
                        <td><label>Username</label></td>
                        <td style="width: 85%"><input readonly type="text" value="{{ user.username }}"></td>
                    </tr>
                    <tr>
                        <td><label>First Name</label></td>
                        <td><input readonly type="text" value="{{ user.first_name }}"></td>
                    </tr>
                    <tr>
                        <td><label>Last Name</label></td>
                        <td><input readonly type="text" value="{{ user.last_name }}"></td>
                    </tr>
                    <tr>
                        <td><label>Role</label></td>
                        <td><input readonly type="text" value="{{ user.groups.all.0 }}"></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td><input readonly type="text" value="{{ user.email }}"></td>
                    </tr>
                    <tr>
                        <td><label>Last Login</label></td>
                        <td><input readonly type="text" value="{{ user.last_login }}"></td>
                    </tr>
                </table>
                <a href="#" data-reveal-id="edit-user" class="radius button">Edit</a>
                <a href="#" data-reveal-id="delete-user" class="radius button">Delete</a>
            </fieldset>

        </div>

    </div>

    <div id="edit-user" class="reveal-modal" data-reveal>
        <h3>Edit User</h3>
        <form id="form-edit-user" action="{% url 'usermgmt:editUser' id=user.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                {{ forms }}
            </fieldset>
            <a href="#" onclick="document.forms['form-edit-user'].submit();" class="button radius">Submit</a>
            <a href="#" class="custom-close-modal button radius">Cancel</a>
            <input type="submit" value="Submit" style="visibility: hidden" />
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="delete-user" class="reveal-modal" data-reveal>
        <h3>Delete User</h3>
        <p>Are You sure you want to delete {{ user.first_name }} {{ user.last_name }} ?</p>
        <p>
            <a href="{% url 'usermgmt:deleteUser' id=user.id %}" class="button radius">Delete</a>
            <a href="#" class="custom-close-modal button radius">Cancel</a>
        </p>
    </div>

    {% include "scriptRef.html" %}

    <script>
        $(document).foundation();
        $('a.custom-close-modal').click(function(){
            if ($('#edit-user').is(':visible')) {
                $('#edit-user').foundation('reveal', 'close');
            }else{
                $('#delete-user').foundation('reveal', 'close');
            }
        });
    </script>

{% endblock %}